<div class="flex-1 flex p-4">
  <div class="place-self-end">
    Dashboard ID: <%= @dashboard.id %>
    <br>
    Current user ID: <%= current_user.id %>
    <% if Current.account.present? %>
      <br>
      Current account ID: <%= Current.account.id %>
    <% end %>
    <br>
    Avo context account ID: <%= Avo::Current.context[:account]&.email %>
  </div>
</div>
