<div class="text-center text-sm text-gray-700">
  <a href="https://avohq.io/" target="_blank">Avo</a> <span title="<%= Avo::App.license.id %>">v<%= Avo::VERSION %></span> · Rails <%= Rails.version %> · &copy; <%= Date.today.year %> AvoHQ
</div>